* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(./image/bg.png);
    background-repeat: no-repeat;
    background-size:cover ;
    
}
.dark-mode{
    .container1{
        background-color:rgb(62,62,62,0.808);
        color: whitesmoke;
    }
    .container{
        background-color: rgba(62, 62, 62, 0.808);
        color: whitesmoke;
    }
    .container .paynow input[type=submit]{
        background-color: black;
    }
}
.container1{
    background-color: rgba(158, 159, 159, 0.445);
    border-radius: 60px;
    height: 60px;
    display: flex;
    padding: 20px;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    font-size: 18px;
    text-decoration: underline;
    justify-content: center;
}
.container .row label{
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
.container1 h1{
    align-self: center;
}
.container h3{
    padding-left: 10px;
    font-size: 25px;
    text-decoration: underline;
}
.container .form-group button{
    float: right;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(119, 118, 118);
    
}
.container {
    background-color: rgba(158, 159, 159, 0.445);
    border-radius: 20px;
    display: flex;
    align-items: left;
    padding: 10px;
    width: 80%;
    position: relative;
    margin: auto;
    text-decoration:underline ;
}
.container .form .column {
    display: flex;
    column-gap: 15px;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.container input,
.container select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 1px;
    padding: 10px;
    width: 100%;
}
.container .row input[type=radio]{
    font-size: 5px; 
}
.container label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px; 
    width: 100%;
}
.pay1,.pay2{
    float: right;
    display: flex;
    position: relative;
    padding: 10px;
    width: 210px;
}
.pay1{
    padding-left: 75px;
}


.container button, input[type=submit] {
    background-color: #fca669;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 100px;
    padding-bottom: 20px;
}
.column1_left1, .column_right1{
    display: inline;
    flex-direction:column;   
}

.column{
    float: left;
    margin-left: 30px;
    width: 100%;
    padding: 5px;
    height: 100px;

}
.left {
    width: 30%;
}
.right {
    width: 60%;
}


@media (max-width: 768px) {
    .container .container1 {
        width: 90%;
    }

    .container input[type="month"] {
        width: 50%;
    }
}  
