body {
    width: 70%;
    height: 90%;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #EEE0CC, #E77929);
    border-radius: 5px;
    margin: 3%;
    padding: 2%;
}

label {
    padding: 2px;
    display: block;
    margin-bottom: 5px;
    font-weight: semi bold;
}

.line-1 {
    height: 1px;
    margin-bottom: 2px;
    background-color: rgb(231, 73, 73);
}

h2 {
    text-align: left;
    margin-bottom: 1px;
}

h5 {
    margin-top: 2px;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 20px;
    padding: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

button[type="submit"] {
    width: 25%;
    padding: 10px;
    background-color: #f86a04;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 38%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    margin-top: 1px;
    margin-left: 80%;
    margin-bottom: 16px;
}

@media screen and (max-width:1053px) {
    .btn {
        margin-left: 75%;
    }
}


@media screen and (max-width:622px) {
    .btn {
        margin-left: 70%;
    }
}

@media screen and (max-width:519px) {
    .btn {
        margin-left: 65%;
    }

}

@media screen and (max-width:445px) {
    .btn {
        margin-left: 60%;
    }
}

@media screen and (max-width:388px) {
    .btn {
        margin-left: 55%;
    }
}

@media screen and (max-width:347px) {
    .btn {
        margin-left: 40%;
    }
}

@media screen and (max-width:468px) {
    button[type="submit"]{
        width: 30%;
        padding: 8px;
        margin-left: 38%;
    }
}
@media screen and (max-width:372px) {
    button[type="submit"]{
        width: 35%;
        padding: 8px;
        margin-left: 38%;
    }
}
@media screen and (max-width:322px) {
    button[type="submit"]{
        width: 40%;
        padding: 8px;
        margin-left: 38%;
    }
}
