* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  /* header */
  .header {
    overflow: hidden;
    background-color:chocolate;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header-right {
    float: right;
    
  }
  .search input{
    border-radius: 5px;
    padding: 7px;
  }
  .search button{
    padding: 5px;
  }
  
  
  .scroll-container {
      width: 100%; 
      overflow-x: auto; 
      white-space: nowrap; 
      
    }
    
    .scroll-content {
      width: auto; 
      padding: 10px;     
    }
    
    .box {
      display: inline-block; /* Display boxes in a row */
      width: 200px; /* Set the width of each box */
      height: 170px; /* Set the height of each box */
      background-color: #ccc; /* Background color for boxes */
      margin-right: 10px; /* Add some spacing between boxes */
  
    }
  
  .box img{
    width: 200px;
    height: 170px;
  
  }
  .Popular
  {
    margin-left: 20px;
    font-size: 20px;
  }
  .See-All
  {
    float: right;
    text-decoration: none;
    margin-bottom: -10px;
    font-size: 20px;
  }
  .col_slider-heading{
  display: flex;              
  justify-content: space-between;     
  }
  .content_header {
     margin-top: 19px;
     margin-right: 50px;
     font-size: 20px;
     
  }             
  .content_header a{
    color:black;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  
  }
  .column{
      display: flex;
      margin-left: 20px;
  }
  
  .row1 {
    margin-top: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
  
    background: chocolate;
  }
  .Copyright {
      text-align: center;
      padding-bottom: 25px;
  }
  .SocialMedia
    {
      text-align: right;
      margin-right: 10px;
      margin-top: -70px;
    }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
    .row {
        float: left;
    }
  }